* {
	margin: 0rem;
	padding: 0rem;
	box-sizing: border-box;
	font-family: arial;
}

h1 {
	color: white;
	font-size: 2.5rem;
	text-align: center;
}

/* Firefox automatically sets a box shadow to red if you put in incorrect input and doesn't take away the box shadow even after a reload. This makes it so that the function is overridden and doesn't show the box shadow. */
input:invalid {
	box-shadow: none !important;
}

footer {
	background-color: #002D62;
	height: 6rem;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#nav-buttons {
	width: auto;
	width: 60rem;
	display: flex;
	justify-content: space-around;
}

#nav-bar {
	padding: 0rem 1rem;
	width: 100%;
	height: 7.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

#logo-image {
	width: 15rem;
	height: auto;
}

#cart-image {
	width: 2rem;
	height: auto;
}

#cart-button {
	text-decoration: none;
	color: white;
	background-color: #00a8ff;
	border-radius: 0.2rem;
	padding: 1rem 1rem 0.5rem 0.5rem;
	margin-right: 3rem;
	position: relative;
	bottom: 2rem;
}

#blueBoxForm {
	display: flex;
	justify-content: center;
	background-color: #00a8ff;
	width: 36rem;
	padding: 1rem;
	padding-bottom: 2.5rem;
	height: 30rem;
	align-items: center;
}

#white-box {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 98%;
	border: 3rem solid #e5e5e8;
	padding: 5rem;
}

#white-box-signup {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 98%;
	border: 3rem solid #e5e5e8;
}

#white-box-holder {
	display: flex;
	justify-content: center;
	align-items: center;
}

#image-header {
	color: #002D62;
	position: absolute;
	bottom: 16rem;
}

#shop-now-button {
	background-color: white;
	border: 0.2rem solid #002D62;
	width: 9rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #002D62;
	position: absolute;
	bottom: 11.5rem;
}

#front-page-image {
	position: relative;
	bottom: 4rem;
	right: 1rem;
}

#blue-box-holder {
	display: flex;
	justify-content: center;
}

.nav-button a:link, .nav-button, .nav-button a:visited {
	background-color: #00a8ff;
	color: white;
	list-style: none;
	width: 10rem;
  border: none;
  height: 2.8rem;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
	display: inline-flex;
	justify-content: space-around;
	border-radius: 0.4rem;
}

.submitButton {
	width: 16rem;
	height: 4rem;
	font-size: 2.5rem;
	font-weight: bold;
	border: transparent;
	background-color: #28749b;
	color: white;
}

.error {
	color: red;
	text-align: center;
}

.formelement
{
	width: 100%;
	margin: 5px auto;
	height: 40px;
	display: flex;
	justify-content: center;
}

.textfield
{
	width: 20rem;
	height: 2.25rem;
	padding-left: 0.5rem;
	font-size: 1rem;
	border: transparent;
}
