* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

h1 {
	color: white;
	font-size: 2.5rem;
	text-align: center;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

/* Firefox automatically sets a box shadow to red if you put in incorrect input and doesn't take away the box shadow even after a reload. This makes it so that the function is overridden and doesn't show the box shadow. */
input:invalid {
	box-shadow: none !important;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #002D62;
	padding: 1rem;
	color: white;
}

td {
	text-align: center;
}

#cartImage {
	width: 2rem;
	height: auto;
}

#cartButton {
	text-decoration: none;
	color: white;
	background-color: #00a8ff;
	border-radius: 0.2rem;
	padding: 0 1rem;
	margin-left: 1rem;
	height: 2.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#cartButton:hover {
	background-color: #28749b;
}

#navButtons {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

#navBar {
	padding: 0 1rem;
	width: 100%;
	height: 7.5rem;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	justify-content: space-between;
}

#logoImage {
	width: 15rem;
	height: auto;
}

#blueBoxSignup {
	display: flex;
	justify-content: center;
	background-color: #00a8ff;
	width: 36rem;
	padding: 1rem;
	height: 31.5rem;
	flex: column;
}

#blueBoxLogin {
	display: flex;
	justify-content: center;
	background-color: #00a8ff;
	width: 36rem;
	padding: 1rem;
	height: 20rem;
	flex: column;
}

#whiteBox {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 98%;
	border: 3rem solid #e5e5e8;
	padding: 1rem;
	align-items: center;
	flex-flow: column;
}

#whiteBoxSignup {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 98%;
	border: 3rem solid #e5e5e8;
	padding: 1rem;
}

#whiteBoxHolder {
	display: flex;
	justify-content: center;
	align-items: center;
}

#whiteBoxHolderCart {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#imageHeader {
	color: #002D62;
	bottom: 19rem;
	padding: 2rem;
}

#shopNowButton {
	background-color: white;
	border: 0.2rem solid #002D62;
	width: 9rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #002D62;
	bottom: 14.5rem;
}

#frontPageImage {
	bottom: 4rem;
	right: 1rem;
	max-width: 20rem;
}

#blueBoxHolder {
	display: flex;
	justify-content: center;
}

#products {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	justify-content: center;
}

#tableHolder {
	display: flex;
	justify-content: center;
	background-color: white;
	border: 3rem solid #e5e5e8;
	align-items: center;
	flex-flow: column;
	width: 75rem;
	padding: 2.5rem 5.5rem 2.5rem 5.5rem;
}

#belowCart {
	width: 75rem;
	background-color: #e5e5e8;
	display: flex;
	justify-content: flex-end;
	padding: 0 3rem 3rem 3rem;
}

#itemTotal, #itemOrder {
	width: 15rem;
	padding: 1rem;
	text-align: center;
	color: white;
	font-weight: bold;
	border-radius: 0.5rem;
}

#itemTotal {
	margin-right: 1rem;
	background-color: #002D62;
}

#itemOrder {
	margin-left: 0.5rem;
	background-color: #28749b;
}

#itemOrder:hover {
	background-color: #002D62;
}

.navButton a:link, .navButton, .navButton a:visited {
	display: inline-flex;
	justify-content: space-around;
	background-color: #00a8ff;
	color: white;
	list-style: none;
	width: 10rem;
  border: none;
  height: 2.8rem;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
}

.navButton a:hover {
	background-color: #28749b;
}

.submitButton {
	width: 16rem;
	height: 4rem;
	font-size: 2.5rem;
	font-weight: bold;
	border: transparent;
	background-color: #28749b;
	color: white;
}

.error {
	color: red;
	text-align: center;
}

.formelement {
	width: 100%;
	margin: 0.313rem auto;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	padding: 1.5rem;
}

.textfield {
	width: 20rem;
	height: 2.25rem;
	padding-left: 0.5rem;
	font-size: 1rem;
	border: transparent;
}

.productCard {
	margin: 0.625rem;
	border: 0.063rem solid #28749b;
	border-radius: 0.313rem;
	box-shadow: 0.188rem 0.188rem 0.5rem rgba(0,0,0,0.3);
	max-width: 14.1rem;
}

.productCard img {
	border-radius: 0.313rem 0.313rem 0 0;
	max-width: 14rem;
}

.productDetails {
	border-radius: 0 0 0.313rem 0.313rem;
	color: white;
	background-color: #28749b;
	padding: 0.4rem;
}

.productQuantity {
	width: 65%;
	text-align: center;
	padding: 0.1rem;
	border-radius: 0.5rem;
	border-style: none;
}

.addToCart {
	text-align: center;
	background-color: white;
	border-style: none;
	padding: 0.3rem;
	color: #28749b;
	border-radius: 1.5rem;
	font-weight: bolder;
	width: 1.75rem;
}

.cartLineTwo {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
}

.productPrice {
	width: 100%;
}

.removeItem {
	font-size: 2.5rem;
	background-color: #28749b;
	color: white;
	text-decoration: none;
	width: 3rem;
	height: 3rem;
	padding: 0.4rem 1rem 0.3rem 1rem;
	border-radius: 5rem;
}

.removeItem:hover {
	background-color: #002D62;
}

.cartItemImage {
	height: 10rem;
	width: auto;
}

.total {
	text-align: right;
}
